body {
    background: URL("background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: transparent;
    overflow: scroll;

}

#details {
    background-color:#ccaf84;
    opacity: 0.9;
    position: absolute;
    left: 25%;
    right: 25%;
    margin-top: 75px;
    padding-top: inherit;
  
  }

#head {
    position: relative;
    padding-left: initial;
}

/* Portfolio Styling */

.container {
    background-color:#ccaf84;
    opacity: 0.9;
    margin-top: 50px;
    text-align: center;

    width: fit-content;
;
  
}
#card {
    opacity: 1;
}
